/.settings
/.gradle
/asm
/bin
/config
/crash-reports
/logs
/mods
/resourcepacks
/saves
.classpath
.project
GregTech.cfg
GregTech.lang
options.txt
usernamecache.json
*.bat
eclipse/
gradle/
TC-Wands.iws
TC-Wands.ipr
TC-Wands.iml
